body{
     font-family: 'Poppins', sans-serif;
}
.helping img{
    width: 100%;
      
}
.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: 30px;
}
.in-need{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: 30px;

}
.food-crisis{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(180, 176, 221);
    font-size: 25px;
}
#Donate{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(234, 233, 247);
    text-decoration: none;
    border-radius: 9px;
    background-color: orangered;
    padding: 10px 40px;
}
.donate-today{
    padding-top: 4%;
    text-align: center;
}
.amount{
    display:flex;
    
}
#one-hundred{
    margin-left: 10%;
    padding: 20px 40px;
    background-color: antiquewhite;
    
}
#tow-hundred{
    margin-left: 6%;
    padding: 20px 40px;
    background-color: antiquewhite;
}
#three-hundred{
    margin-left: 6%;
    padding: 20px 40px;
    background-color: rgb(247, 153, 137);
    color: red;
    border-color: red;
    border:solid 5px;
}
#one-thousand{
    margin-left: 6%;
    padding: 20px 40px;
    background-color: antiquewhite;
    
}
#five-thousand{
    margin-left: 6%;
    padding: 20px 40px;
    background-color: antiquewhite;
}
.Other-Amount p{
    text-align: center;
    margin-top: 5%;
    padding-bottom: 2%;
    border-bottom:solid 2px; 
    
}
.donate-now {
    text-decoration: none;
    text-align: center;
    margin-top: 3%;
}
.donate-now a {
    
    padding: 10px 20px;
    background-color: orange;
    border-radius: 3px;
}